DJANGO_DEBUG=on
DJANGO_SECRET_KEY="CHANGEME!!!"

DJANGO_ADMINS=Some User:some.user@gmail.com,
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
{% if cookiecutter.use_postgis == "y" -%}
DJANGO_DATABASE_URL=postgis:///{{ cookiecutter.repo_name }}
{%- elif cookiecutter.use_postgresql == "y" -%}
DJANGO_DATABASE_URL=postgres:///{{ cookiecutter.repo_name }}
{%- elif cookiecutter.use_mysql == "y" -%}
DJANGO_DATABASE_URL=mysql:///{{ cookiecutter.repo_name }}
{%- endif %}
DJANGO_EMAIL_URL="smtp://user@:password@localhost:25"

DJANGO_DEFAULT_FROM_EMAIL=admin@example.com
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_SERVER_EMAIL=root@localhost.com
{% if cookiecutter.use_celery == "y" %}
{% if cookiecutter.use_redis == "y" -%}
DJANGO_CELERY_BROKER_URL=redis://localhost:6379/1
DJANGO_CELERY_BACKEND=redis://localhost:6379/1
{% elif cookiecutter.use_rabbitmq == "y" -%}
DJANGO_CELERY_BROKER_URL=amqp://guest:guest@localhost:5672//
{% else -%}
DJANGO_CELERY_BROKER_URL=django://
{% endif -%}
DJANGO_CELERY_ALWAYS_EAGER=off
{%- endif %}

DJANGO_USE_DEBUG_TOOLBAR=off
DJANGO_TEST_RUN=off

DJANGO_HEALTH_CHECK_BODY="Success"

DJANGO_USE_SILK=on